#page-menu-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;

    #page-menu-avatar{
        height: 10vw;
        width: 10vw;
        margin-top: 15vh;
        border: 5px #000 solid;
        margin-right: 1vh;
    }
}

#header-nav{

    #header-content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left: 2.5vw;
        padding-right: 2.5vw;
        height: 12.5vh;

        #profile-info{
            display: flex;
            flex-direction: row;
            align-items: center;
            box-sizing: border-box;
            border-radius: 5px;
            padding: 1vw;
            height: 90%;

            transition: 0.3s ease-in;

            #header-avatar{
                height: 5vw;
                width: 5vw;
                border: 2px #000 solid;
                margin-right: 1vh;
            }

            div{
                h3, p{
                    margin: 0;
                }
            }
        }

        #profile-info:hover{
            background-color: rgba(0,0,0,0.25);
            cursor: pointer;
        }

        #container-contact-button-group{
            position: absolute;
            top: 0.5vh;
            opacity: 0;
            z-index: -1;

            #contact-button-group{
                width: 18.25vw;
            }
        }
    }

    .bottom-border{
        background-color: #000;
        height: 2px;
        width: 95vw;
        margin-left: auto;
        margin-right: auto;
    }
}

#projects-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1vh;
}

#projects-container{
    height: 81vh;
    display: flex;

    div{
        flex: 1;
    }

    #projects-grid-container{
        background-color: green;
        overflow-x: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        img{
            background-color: #fff;
            height: auto;
        }
    }

    #projects-display-container{
        background-color: blue;
    }
}